 <form action="/post/comments/{{id}}" method="post">
    <div class="container">
      {{!-- TODO: add in username --}}
            <label>Comment as ...</label> 
              <textarea id=title class="textarea" type="text" name="text" placeholder="What are your thoughts?"></textarea>
            <div class="control">
              <button id=contentBtn class="button is-primary">Submit</button>
            </div>
        </div>
  </form>