 {{>header}}

  <div class="container is-size-2" href="" >
      <h1>{{title}}</h1>
      </div>
   

 
  
     <form action="/edit/post/:id/edited" method="post">
     <div class="container">
       
      <label>Edit your comment</label> 
      <input type="text" name="url2" value="{{url}}"style="display: none"><br>
            <textarea class="textarea" type="text" name="url" placeholder="{{url}}"></textarea>
    
  <input type="submit" value="Submit">
</form>
  