{{> header}}

{{#each contents}}
<div class="container is-size-2" >
  
    <a href='/contents/{{this.id}}'><h2>{{this.title}}</h2></a>
   
      <div class="container is-size-6">
        <div class="notification">
          submitted on {{this.createdAt}}
        </div>
    
  </div>
{{/each}}