{{> header}}
<div class="container" href="" >
      <div class="notification" style="margin: 0">
        <h2>{{{title}}}</h2>
      </div>
      <div class="container">
        <div class="notification">
          submitted by ...
        </div>
    
  </div>
