 {{>header}}
 {{#if isAuthenticated}}
    <form action="/submit/post" method="post">
         <div class="container">
            <label>Title</label>
              <input id=title class="input" type="text" name="title" placeholder="Title">
            <label>Text</label>
              <input id=text class="input" placeholder="say what you want" name="url"></input>
            <div class="control">
              <button id=contentBtn class="button is-primary">Submit</button>
            </div>
        </div>
    </form>
  {{else}}
  <h1>Please signup or login to post</h1>
  <div class="buttons">
                    <a href="/signup" class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                    <a href="/login" class="button is-dark">
                      Log in
                    </a>
                  </div>
  {{/if}}